
:root {
    --primary: rgb(49, 80, 121);
    --secondary: rgba(47, 125, 226, 0.842);
    --tertiary: rgb(241, 241, 241);
    --dark: rgb(79, 81, 90);
    --light: rgba(238, 238, 247, 1);
}

.logincontainer {
    max-width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: var(--dark);
}